.mains{
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F2F4FE;
  }
  .home{
    background-color: white;
   display: flex;
        justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    gap: 10px;
     border-radius: 5px;
      font-size: 0.8rem;
    line-height: 1rem;
  }
  .main{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #0A1564;
}

.subcont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 0.6rem;
    line-height: 1rem;
    gap: 10px;
    /* background-color: yellow; */
}
.subcontone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 0.7rem;
    line-height: 1rem;
    gap: 10px;
    /* background-color: yellow; */
}
.cont{
    background-color: white;
    padding: 30px 10px ;
    border-radius: 10px;
}
.one{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0.5;
}
.oness{
    /* background-color: brown; */
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.ones{
    /* background-color: rgb(134, 104, 104); */
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
  
  @media (min-width:768px) {
    .mains{
    padding: 30px 50px;
  }
    .home{
    width: 100%;
    padding: 10px;
    gap: 10px;
     font-size: 1.1rem;
    line-height: 1rem;
    padding: 20px;
    
  }
  .main{
    padding: 50px 10px;
}
.subcont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: 1.0rem;
    line-height: 2rem;
}
.subcontone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 20px 0;
    font-size: 1.1rem;
    line-height: 2rem;
    /* background-color: yellow; */
}
.cont{
    background-color: white;
    padding: 40px 50px ;
    border-radius: 10px;
}
  }
  
  
  
  @media (min-width:1024px) {
    .mains{
      padding: 30px 30px;
    }
    .home{
      width: 50%;
       font-size: 0.8rem;
      line-height: 1rem;
      padding: 10px;
       justify-content: flex-start;
    }
    .subcontone{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      font-size: 0.8rem;
      line-height: 1rem;
      /* background-color: yellow; */
  }
  .subcont{
      gap: 10px;
      padding: 10px 0;
      font-size: 0.8rem;
      line-height: 1rem;
  }
  }
  
  
  @media (min-width:1280px) {
    .mains{
      padding: 30px 70px;
    }
    .home{
      width: 50%;
      font-size: 1rem;
      line-height: 1rem;
      padding: 20px;
      
    }
    .subcont{
      font-size: 0.9rem;
      line-height: 1rem;
  }
  .subcontone{
    font-size: 1rem;
    line-height: 1rem;
    /* background-color: yellow; */
}
  }